<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    <a [title]="product.name">
      {{ product.name }}
    </a>
  </h3>

  <h4>ID: {{ product.identifier }}</h4>

  <p>
    Description: {{ product.description }} <br />
    Price: {{ product.price }} <br />
    Stock: {{ product.stock }}
  </p>
  <div>

    <form (submit)="onSubmit()">
      <label for="quantity">Quantity:</label>
      <input [(ngModel)]="quantities[product.identifier]" type="number" id="quantity" name="quantity" min="1" max="{{ product.stock }}" value="1">
    </form>
  </div>
  <button class="btn btn-primary" (click)="addToCart(product, quantities[product.identifier])">Add To Cart</button>


</div>
